{% extends "layout.html" %}

{% block mainContent %}
    <h2>
      You have a talent to share? Please submit your event:
    </h2>
    
  {% if errors %}

    <div class="form-errors">
      <p>Please correct the following errors!</p>
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

	  <form id="create-event" method="POST">
    <label for="title"> Event title:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="title"> </label><br>
    <label for="location"> Event location: &nbsp;&nbsp;<input type="text" name="location"> </label><br>
    <label for="image"> Event image: &nbsp;&nbsp;<input type="url" name="imageUrl" placeholder="Please submit a url ending with .png, .jpg or .jpeg" ></label><br>
    <label for="date"> Event date: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="date" name="date"> </label><br>
    <label for="time"> Event time: <input type="time" name="usr_time"></label><br>
    Your email: <input type="email" name="email">
    <input type="submit" value="Submit"/>
    </form>
  
{% endblock %}


