{% extends "layout.html" %}

{% block header %}
  <header>
    <img id="logo" src="http://faculty.som.yale.edu/songma/img/yalelogo.jpg">
    <h1>{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p>
    Welcome to {{ title }}. {{tagline}}
  </p>
  <p>Here are list of our boosts offerings:</p>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
  <p>If you would like to do a search: <input type="text" name="search" placeholder="Search.."> </p>
  <p>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}