{% extends "layout.html" %}

{% block header %}
  <header>
    <a href="http://uploads.ru/Y81LQ.png"><img src="http://sa.uploads.ru/t/Y81LQ.png" border="0" /></a>
    <!-- <img id="logo" src="http://faculty.som.yale.edu/songma/img/yalelogo.jpg" width="1120" height="180"> -->
    <h1 class="initial">{{ title }}</h1>
  </header>
{% endblock %}

{% block mainContent %}
  <p class="initial">
    Welcome to {{ title }}. {{tagline}}
  </p>
    <div class="ex1">
    {% include "fragments/events-search.html" %}<br>
    </div>
  
  <p></p>
  
  <h4 class="initial2">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Don't feel like searching?<br>&nbsp;&nbsp;<br>
    Here are list of our boosts offerings:
  </h4>
  <div>
    {% include "fragments/events-list.html" %}
  </div>
    Check out the <a href="/about">About us</a> page
    as well as the <a href="/events">Events</a> page.
  </p>
  <p>
    <a id="new" href="/events/new">Create a new event</a>
  </p>
{% endblock %}