<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
   </head>

	<body class="container">

    {% block header %}
    <header>
      <a href="/"><img id="logo" src="http://sa.uploads.ru/t/Y81LQ.png" border="0" width="200" height="60"/> </a>
      <!-- <img id="logo" src="http://faculty.som.yale.edu/songma/img/yalelogo.jpg" width="1120" height="180"> -->
      <h1> {{ title }}</h1>
    </header>
    {% endblock %}

    {% block mainContent %}
      <!-- <section>Welcome to {{ title }}. {{tagline}}</section> -->
    {% endblock %}

    {% block footer %}
      <footer>
        &nbsp; &nbsp;
        <a href="/">Home</a> &nbsp; &nbsp; <a href="/about">About us</a>  &nbsp; &nbsp; <a id="new" href="/events/new">Create a new event</a>   
      </footer>
    {% endblock %}

  </body>
</html>